<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542254591077-u8sctruql265crgh8ka64l42c6m03bad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542254591077-u8sctruql265crgh8ka64l42c6m03bad</string>
	<key>API_KEY</key>
	<string>AIzaSyB0JMf5_MkoJo_oCLKsXrwOvb5_8C5K1Dw</string>
	<key>GCM_SENDER_ID</key>
	<string>542254591077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patryklipka.najlepszaPizzaWMiescie</string>
	<key>PROJECT_ID</key>
	<string>pizza-england-369</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-england-369.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542254591077:ios:ffb2cae2f876491e3caa8c</string>
</dict>
</plist>